div {
    width: 300px;
    border-color: green;
    padding: 50px;
    margin: 50px;
    border: 5px solid;
}

div {
    /* Penulisan border seperti ini dapat disingkat */
    /* border-top-style: double;
    border-right-style: groove;
    border-bottom-style: ridge;
    border-left-style: inset; */
    border-color: aquamarine;
    border-style: double groove ridge inset;
    border-width: 5px 10px 10px;
}

div {
    padding: 10px 10px 40px 50px;
}

h1 {
    background-color: aquamarine;
    border: 2px solid black;
    display: inline-block;
}

span {
    /* background-color: grey; */
    border: 2px solid black;
    width: 100px;
    padding: 100px;
    display: flex;
}